rise/es_dev.WSDL.IUser.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://es_dev.WS.IUser/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://es_dev.WS.IUser/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://es_dev.WS.IUser/">
      <s:element name="NewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NewUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserResult" type="tns:returnGetUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="returnGetUser">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password_Hash" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Email_Authenticated" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Email_Authorization_Nonce" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password_Hash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Salt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Email_Authenticated" nillable="true" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Email_Authorization_Nonce" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListUserResult" type="tns:ArrayOfReturnListUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListUser" type="tns:returnListUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListUser">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password_Hash" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Email_Authenticated" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Email_Authorization_Nonce" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListUserByEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListUserByEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListUserByEmailResult" type="tns:ArrayOfReturnListUserByEmail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListUserByEmail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListUserByEmail" type="tns:returnListUserByEmail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListUserByEmail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password_Hash" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Email_Authenticated" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Email_Authorization_Nonce" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SignupUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password_Hash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Salt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Email_Authenticated" nillable="true" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Email_Authorization_Nonce" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignupUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignupUserResult" type="tns:returnSignupUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="returnSignupUser">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password_Hash" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NewRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CafeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NewRatingResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteRatingResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRatingResult" type="tns:returnGetRating" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="returnGetRating">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CafeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Expired" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Rating" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Date" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CafeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Expired" nillable="true" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetRatingResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListRatingResult" type="tns:ArrayOfReturnListRating" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListRating">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListRating" type="tns:returnListRating" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListRating">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CafeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Expired" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="NewCafe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewCafeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NewCafeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCafe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCafeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCafeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCafe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCafeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCafeResult" type="tns:returnGetCafe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="returnGetCafe">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Star_Rating" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChainID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetCafe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Star_Rating" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Monday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Monday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Thursday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Thursday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Friday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Friday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Saturday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Saturday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Sunday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Sunday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ChainID" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCafeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetCafeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCafe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCafeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCafeResult" type="tns:ArrayOfReturnListCafe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListCafe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListCafe" type="tns:returnListCafe" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListCafe">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Star_Rating" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChainID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListCafeByRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCafeByRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCafeByRegionResult" type="tns:ArrayOfReturnListCafeByRegion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListCafeByRegion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListCafeByRegion" type="tns:returnListCafeByRegion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListCafeByRegion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Star_Rating" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChainID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListCafeByGoogle_Places_Id">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCafeByGoogle_Places_IdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCafeByGoogle_Places_IdResult" type="tns:ArrayOfReturnListCafeByGoogle_Places_Id" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListCafeByGoogle_Places_Id">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListCafeByGoogle_Places_Id" type="tns:returnListCafeByGoogle_Places_Id" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListCafeByGoogle_Places_Id">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Star_Rating" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChainID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListRatingByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListRatingByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListRatingByUserResult" type="tns:ArrayOfReturnListRatingByUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListRatingByUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListRatingByUser" type="tns:returnListRatingByUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListRatingByUser">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CafeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Expired" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListRatingByCafe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CafeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListRatingByCafeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListRatingByCafeResult" type="tns:ArrayOfReturnListRatingByCafe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListRatingByCafe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListRatingByCafe" type="tns:returnListRatingByCafe" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListRatingByCafe">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CafeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Expired" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NewUserSoapIn">
    <wsdl:part name="parameters" element="tns:NewUser" />
  </wsdl:message>
  <wsdl:message name="NewUserSoapOut">
    <wsdl:part name="parameters" element="tns:NewUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserSoapIn">
    <wsdl:part name="parameters" element="tns:SetUser" />
  </wsdl:message>
  <wsdl:message name="SetUserSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ListUserSoapIn">
    <wsdl:part name="parameters" element="tns:ListUser" />
  </wsdl:message>
  <wsdl:message name="ListUserSoapOut">
    <wsdl:part name="parameters" element="tns:ListUserResponse" />
  </wsdl:message>
  <wsdl:message name="ListUserByEmailSoapIn">
    <wsdl:part name="parameters" element="tns:ListUserByEmail" />
  </wsdl:message>
  <wsdl:message name="ListUserByEmailSoapOut">
    <wsdl:part name="parameters" element="tns:ListUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="SignupUserSoapIn">
    <wsdl:part name="parameters" element="tns:SignupUser" />
  </wsdl:message>
  <wsdl:message name="SignupUserSoapOut">
    <wsdl:part name="parameters" element="tns:SignupUserResponse" />
  </wsdl:message>
  <wsdl:message name="NewRatingSoapIn">
    <wsdl:part name="parameters" element="tns:NewRating" />
  </wsdl:message>
  <wsdl:message name="NewRatingSoapOut">
    <wsdl:part name="parameters" element="tns:NewRatingResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRatingSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRating" />
  </wsdl:message>
  <wsdl:message name="DeleteRatingSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRatingResponse" />
  </wsdl:message>
  <wsdl:message name="GetRatingSoapIn">
    <wsdl:part name="parameters" element="tns:GetRating" />
  </wsdl:message>
  <wsdl:message name="GetRatingSoapOut">
    <wsdl:part name="parameters" element="tns:GetRatingResponse" />
  </wsdl:message>
  <wsdl:message name="SetRatingSoapIn">
    <wsdl:part name="parameters" element="tns:SetRating" />
  </wsdl:message>
  <wsdl:message name="SetRatingSoapOut">
    <wsdl:part name="parameters" element="tns:SetRatingResponse" />
  </wsdl:message>
  <wsdl:message name="ListRatingSoapIn">
    <wsdl:part name="parameters" element="tns:ListRating" />
  </wsdl:message>
  <wsdl:message name="ListRatingSoapOut">
    <wsdl:part name="parameters" element="tns:ListRatingResponse" />
  </wsdl:message>
  <wsdl:message name="NewCafeSoapIn">
    <wsdl:part name="parameters" element="tns:NewCafe" />
  </wsdl:message>
  <wsdl:message name="NewCafeSoapOut">
    <wsdl:part name="parameters" element="tns:NewCafeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCafeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCafe" />
  </wsdl:message>
  <wsdl:message name="DeleteCafeSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCafeResponse" />
  </wsdl:message>
  <wsdl:message name="GetCafeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCafe" />
  </wsdl:message>
  <wsdl:message name="GetCafeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCafeResponse" />
  </wsdl:message>
  <wsdl:message name="SetCafeSoapIn">
    <wsdl:part name="parameters" element="tns:SetCafe" />
  </wsdl:message>
  <wsdl:message name="SetCafeSoapOut">
    <wsdl:part name="parameters" element="tns:SetCafeResponse" />
  </wsdl:message>
  <wsdl:message name="ListCafeSoapIn">
    <wsdl:part name="parameters" element="tns:ListCafe" />
  </wsdl:message>
  <wsdl:message name="ListCafeSoapOut">
    <wsdl:part name="parameters" element="tns:ListCafeResponse" />
  </wsdl:message>
  <wsdl:message name="ListCafeByRegionSoapIn">
    <wsdl:part name="parameters" element="tns:ListCafeByRegion" />
  </wsdl:message>
  <wsdl:message name="ListCafeByRegionSoapOut">
    <wsdl:part name="parameters" element="tns:ListCafeByRegionResponse" />
  </wsdl:message>
  <wsdl:message name="ListCafeByGoogle_Places_IdSoapIn">
    <wsdl:part name="parameters" element="tns:ListCafeByGoogle_Places_Id" />
  </wsdl:message>
  <wsdl:message name="ListCafeByGoogle_Places_IdSoapOut">
    <wsdl:part name="parameters" element="tns:ListCafeByGoogle_Places_IdResponse" />
  </wsdl:message>
  <wsdl:message name="ListRatingByUserSoapIn">
    <wsdl:part name="parameters" element="tns:ListRatingByUser" />
  </wsdl:message>
  <wsdl:message name="ListRatingByUserSoapOut">
    <wsdl:part name="parameters" element="tns:ListRatingByUserResponse" />
  </wsdl:message>
  <wsdl:message name="ListRatingByCafeSoapIn">
    <wsdl:part name="parameters" element="tns:ListRatingByCafe" />
  </wsdl:message>
  <wsdl:message name="ListRatingByCafeSoapOut">
    <wsdl:part name="parameters" element="tns:ListRatingByCafeResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserSoap">
    <wsdl:operation name="NewUser">
      <wsdl:input message="tns:NewUserSoapIn" />
      <wsdl:output message="tns:NewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <wsdl:input message="tns:SetUserSoapIn" />
      <wsdl:output message="tns:SetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListUser">
      <wsdl:input message="tns:ListUserSoapIn" />
      <wsdl:output message="tns:ListUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListUserByEmail">
      <wsdl:input message="tns:ListUserByEmailSoapIn" />
      <wsdl:output message="tns:ListUserByEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignupUser">
      <wsdl:input message="tns:SignupUserSoapIn" />
      <wsdl:output message="tns:SignupUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewRating">
      <wsdl:input message="tns:NewRatingSoapIn" />
      <wsdl:output message="tns:NewRatingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRating">
      <wsdl:input message="tns:DeleteRatingSoapIn" />
      <wsdl:output message="tns:DeleteRatingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRating">
      <wsdl:input message="tns:GetRatingSoapIn" />
      <wsdl:output message="tns:GetRatingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetRating">
      <wsdl:input message="tns:SetRatingSoapIn" />
      <wsdl:output message="tns:SetRatingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListRating">
      <wsdl:input message="tns:ListRatingSoapIn" />
      <wsdl:output message="tns:ListRatingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewCafe">
      <wsdl:input message="tns:NewCafeSoapIn" />
      <wsdl:output message="tns:NewCafeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCafe">
      <wsdl:input message="tns:DeleteCafeSoapIn" />
      <wsdl:output message="tns:DeleteCafeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCafe">
      <wsdl:input message="tns:GetCafeSoapIn" />
      <wsdl:output message="tns:GetCafeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCafe">
      <wsdl:input message="tns:SetCafeSoapIn" />
      <wsdl:output message="tns:SetCafeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCafe">
      <wsdl:input message="tns:ListCafeSoapIn" />
      <wsdl:output message="tns:ListCafeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCafeByRegion">
      <wsdl:input message="tns:ListCafeByRegionSoapIn" />
      <wsdl:output message="tns:ListCafeByRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCafeByGoogle_Places_Id">
      <wsdl:input message="tns:ListCafeByGoogle_Places_IdSoapIn" />
      <wsdl:output message="tns:ListCafeByGoogle_Places_IdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListRatingByUser">
      <wsdl:input message="tns:ListRatingByUserSoapIn" />
      <wsdl:output message="tns:ListRatingByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListRatingByCafe">
      <wsdl:input message="tns:ListRatingByCafeSoapIn" />
      <wsdl:output message="tns:ListRatingByCafeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IUserSoap" type="tns:IUserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewUser">
      <soap:operation soapAction="http://es_dev.WS.IUser/NewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://es_dev.WS.IUser/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://es_dev.WS.IUser/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <soap:operation soapAction="http://es_dev.WS.IUser/SetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListUser">
      <soap:operation soapAction="http://es_dev.WS.IUser/ListUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListUserByEmail">
      <soap:operation soapAction="http://es_dev.WS.IUser/ListUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignupUser">
      <soap:operation soapAction="http://es_dev.WS.IUser/SignupUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRating">
      <soap:operation soapAction="http://es_dev.WS.IUser/NewRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRating">
      <soap:operation soapAction="http://es_dev.WS.IUser/DeleteRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRating">
      <soap:operation soapAction="http://es_dev.WS.IUser/GetRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRating">
      <soap:operation soapAction="http://es_dev.WS.IUser/SetRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRating">
      <soap:operation soapAction="http://es_dev.WS.IUser/ListRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewCafe">
      <soap:operation soapAction="http://es_dev.WS.IUser/NewCafe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCafe">
      <soap:operation soapAction="http://es_dev.WS.IUser/DeleteCafe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCafe">
      <soap:operation soapAction="http://es_dev.WS.IUser/GetCafe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCafe">
      <soap:operation soapAction="http://es_dev.WS.IUser/SetCafe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafe">
      <soap:operation soapAction="http://es_dev.WS.IUser/ListCafe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafeByRegion">
      <soap:operation soapAction="http://es_dev.WS.IUser/ListCafeByRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafeByGoogle_Places_Id">
      <soap:operation soapAction="http://es_dev.WS.IUser/ListCafeByGoogle_Places_Id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRatingByUser">
      <soap:operation soapAction="http://es_dev.WS.IUser/ListRatingByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRatingByCafe">
      <soap:operation soapAction="http://es_dev.WS.IUser/ListRatingByCafe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IUserSoap12" type="tns:IUserSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewUser">
      <soap12:operation soapAction="http://es_dev.WS.IUser/NewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://es_dev.WS.IUser/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://es_dev.WS.IUser/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <soap12:operation soapAction="http://es_dev.WS.IUser/SetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListUser">
      <soap12:operation soapAction="http://es_dev.WS.IUser/ListUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListUserByEmail">
      <soap12:operation soapAction="http://es_dev.WS.IUser/ListUserByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignupUser">
      <soap12:operation soapAction="http://es_dev.WS.IUser/SignupUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRating">
      <soap12:operation soapAction="http://es_dev.WS.IUser/NewRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRating">
      <soap12:operation soapAction="http://es_dev.WS.IUser/DeleteRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRating">
      <soap12:operation soapAction="http://es_dev.WS.IUser/GetRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRating">
      <soap12:operation soapAction="http://es_dev.WS.IUser/SetRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRating">
      <soap12:operation soapAction="http://es_dev.WS.IUser/ListRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewCafe">
      <soap12:operation soapAction="http://es_dev.WS.IUser/NewCafe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCafe">
      <soap12:operation soapAction="http://es_dev.WS.IUser/DeleteCafe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCafe">
      <soap12:operation soapAction="http://es_dev.WS.IUser/GetCafe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCafe">
      <soap12:operation soapAction="http://es_dev.WS.IUser/SetCafe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafe">
      <soap12:operation soapAction="http://es_dev.WS.IUser/ListCafe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafeByRegion">
      <soap12:operation soapAction="http://es_dev.WS.IUser/ListCafeByRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafeByGoogle_Places_Id">
      <soap12:operation soapAction="http://es_dev.WS.IUser/ListCafeByGoogle_Places_Id" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRatingByUser">
      <soap12:operation soapAction="http://es_dev.WS.IUser/ListRatingByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRatingByCafe">
      <soap12:operation soapAction="http://es_dev.WS.IUser/ListRatingByCafe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IUser">
    <wsdl:port name="IUserSoap" binding="tns:IUserSoap">
      <soap:address location="http://es_dev.WS.IUser/" />
    </wsdl:port>
    <wsdl:port name="IUserSoap12" binding="tns:IUserSoap12">
      <soap12:address location="http://es_dev.WS.IUser/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
