rise/es_dev.WSDL.ICafe.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://es_dev.WS.ICafe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://es_dev.WS.ICafe/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://es_dev.WS.ICafe/">
      <s:element name="NewCafe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewCafeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NewCafeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCafe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCafeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCafeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCafe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCafeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCafeResult" type="tns:returnGetCafe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="returnGetCafe">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Star_Rating" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ChainID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetCafe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Star_Rating" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Monday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Monday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Thursday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Thursday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Friday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Friday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Saturday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Saturday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Sunday_Open" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Sunday_Close" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ChainID" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCafeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetCafeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCafe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCafeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCafeResult" type="tns:ArrayOfReturnListCafe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListCafe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListCafe" type="tns:returnListCafe" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListCafe">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Star_Rating" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ChainID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListCafeByRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCafeByRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCafeByRegionResult" type="tns:ArrayOfReturnListCafeByRegion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListCafeByRegion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListCafeByRegion" type="tns:returnListCafeByRegion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListCafeByRegion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Star_Rating" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ChainID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListCafeByGoogle_Places_Id">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCafeByGoogle_Places_IdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCafeByGoogle_Places_IdResult" type="tns:ArrayOfReturnListCafeByGoogle_Places_Id" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListCafeByGoogle_Places_Id">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListCafeByGoogle_Places_Id" type="tns:returnListCafeByGoogle_Places_Id" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListCafeByGoogle_Places_Id">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Star_Rating" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ChainID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="NewRegion">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="NewRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NewRegionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteRegionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRegionResult" type="tns:returnGetRegion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="returnGetRegion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Center_Latitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Center_Longitude" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Center_Latitude" nillable="true" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Center_Longitude" nillable="true" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetRegionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListRegionResult" type="tns:ArrayOfReturnListRegion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListRegion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListRegion" type="tns:returnListRegion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListRegion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Center_Latitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Center_Longitude" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListCafeByChain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ChainID" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCafeByChainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCafeByChainResult" type="tns:ArrayOfReturnListCafeByChain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListCafeByChain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListCafeByChain" type="tns:returnListCafeByChain" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListCafeByChain">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google_Places_Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Star_Rating" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Monday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thursday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Friday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Open" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Sunday_Close" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChainID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="NewChain">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="NewChainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NewChainResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteChain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteChainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteChainResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetChainResult" type="tns:returnGetChain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="returnGetChain">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetChain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetChainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetChainResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListChain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxRowsToReturn" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListChainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListChainResult" type="tns:ArrayOfReturnListChain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReturnListChain">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="returnListChain" type="tns:returnListChain" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="returnListChain">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NewCafeSoapIn">
    <wsdl:part name="parameters" element="tns:NewCafe" />
  </wsdl:message>
  <wsdl:message name="NewCafeSoapOut">
    <wsdl:part name="parameters" element="tns:NewCafeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCafeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCafe" />
  </wsdl:message>
  <wsdl:message name="DeleteCafeSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCafeResponse" />
  </wsdl:message>
  <wsdl:message name="GetCafeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCafe" />
  </wsdl:message>
  <wsdl:message name="GetCafeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCafeResponse" />
  </wsdl:message>
  <wsdl:message name="SetCafeSoapIn">
    <wsdl:part name="parameters" element="tns:SetCafe" />
  </wsdl:message>
  <wsdl:message name="SetCafeSoapOut">
    <wsdl:part name="parameters" element="tns:SetCafeResponse" />
  </wsdl:message>
  <wsdl:message name="ListCafeSoapIn">
    <wsdl:part name="parameters" element="tns:ListCafe" />
  </wsdl:message>
  <wsdl:message name="ListCafeSoapOut">
    <wsdl:part name="parameters" element="tns:ListCafeResponse" />
  </wsdl:message>
  <wsdl:message name="ListCafeByRegionSoapIn">
    <wsdl:part name="parameters" element="tns:ListCafeByRegion" />
  </wsdl:message>
  <wsdl:message name="ListCafeByRegionSoapOut">
    <wsdl:part name="parameters" element="tns:ListCafeByRegionResponse" />
  </wsdl:message>
  <wsdl:message name="ListCafeByGoogle_Places_IdSoapIn">
    <wsdl:part name="parameters" element="tns:ListCafeByGoogle_Places_Id" />
  </wsdl:message>
  <wsdl:message name="ListCafeByGoogle_Places_IdSoapOut">
    <wsdl:part name="parameters" element="tns:ListCafeByGoogle_Places_IdResponse" />
  </wsdl:message>
  <wsdl:message name="NewRegionSoapIn">
    <wsdl:part name="parameters" element="tns:NewRegion" />
  </wsdl:message>
  <wsdl:message name="NewRegionSoapOut">
    <wsdl:part name="parameters" element="tns:NewRegionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRegionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRegion" />
  </wsdl:message>
  <wsdl:message name="DeleteRegionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRegionResponse" />
  </wsdl:message>
  <wsdl:message name="GetRegionSoapIn">
    <wsdl:part name="parameters" element="tns:GetRegion" />
  </wsdl:message>
  <wsdl:message name="GetRegionSoapOut">
    <wsdl:part name="parameters" element="tns:GetRegionResponse" />
  </wsdl:message>
  <wsdl:message name="SetRegionSoapIn">
    <wsdl:part name="parameters" element="tns:SetRegion" />
  </wsdl:message>
  <wsdl:message name="SetRegionSoapOut">
    <wsdl:part name="parameters" element="tns:SetRegionResponse" />
  </wsdl:message>
  <wsdl:message name="ListRegionSoapIn">
    <wsdl:part name="parameters" element="tns:ListRegion" />
  </wsdl:message>
  <wsdl:message name="ListRegionSoapOut">
    <wsdl:part name="parameters" element="tns:ListRegionResponse" />
  </wsdl:message>
  <wsdl:message name="ListCafeByChainSoapIn">
    <wsdl:part name="parameters" element="tns:ListCafeByChain" />
  </wsdl:message>
  <wsdl:message name="ListCafeByChainSoapOut">
    <wsdl:part name="parameters" element="tns:ListCafeByChainResponse" />
  </wsdl:message>
  <wsdl:message name="NewChainSoapIn">
    <wsdl:part name="parameters" element="tns:NewChain" />
  </wsdl:message>
  <wsdl:message name="NewChainSoapOut">
    <wsdl:part name="parameters" element="tns:NewChainResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteChainSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteChain" />
  </wsdl:message>
  <wsdl:message name="DeleteChainSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteChainResponse" />
  </wsdl:message>
  <wsdl:message name="GetChainSoapIn">
    <wsdl:part name="parameters" element="tns:GetChain" />
  </wsdl:message>
  <wsdl:message name="GetChainSoapOut">
    <wsdl:part name="parameters" element="tns:GetChainResponse" />
  </wsdl:message>
  <wsdl:message name="SetChainSoapIn">
    <wsdl:part name="parameters" element="tns:SetChain" />
  </wsdl:message>
  <wsdl:message name="SetChainSoapOut">
    <wsdl:part name="parameters" element="tns:SetChainResponse" />
  </wsdl:message>
  <wsdl:message name="ListChainSoapIn">
    <wsdl:part name="parameters" element="tns:ListChain" />
  </wsdl:message>
  <wsdl:message name="ListChainSoapOut">
    <wsdl:part name="parameters" element="tns:ListChainResponse" />
  </wsdl:message>
  <wsdl:portType name="ICafeSoap">
    <wsdl:operation name="NewCafe">
      <wsdl:input message="tns:NewCafeSoapIn" />
      <wsdl:output message="tns:NewCafeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCafe">
      <wsdl:input message="tns:DeleteCafeSoapIn" />
      <wsdl:output message="tns:DeleteCafeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCafe">
      <wsdl:input message="tns:GetCafeSoapIn" />
      <wsdl:output message="tns:GetCafeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCafe">
      <wsdl:input message="tns:SetCafeSoapIn" />
      <wsdl:output message="tns:SetCafeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCafe">
      <wsdl:input message="tns:ListCafeSoapIn" />
      <wsdl:output message="tns:ListCafeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCafeByRegion">
      <wsdl:input message="tns:ListCafeByRegionSoapIn" />
      <wsdl:output message="tns:ListCafeByRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCafeByGoogle_Places_Id">
      <wsdl:input message="tns:ListCafeByGoogle_Places_IdSoapIn" />
      <wsdl:output message="tns:ListCafeByGoogle_Places_IdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewRegion">
      <wsdl:input message="tns:NewRegionSoapIn" />
      <wsdl:output message="tns:NewRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRegion">
      <wsdl:input message="tns:DeleteRegionSoapIn" />
      <wsdl:output message="tns:DeleteRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegion">
      <wsdl:input message="tns:GetRegionSoapIn" />
      <wsdl:output message="tns:GetRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetRegion">
      <wsdl:input message="tns:SetRegionSoapIn" />
      <wsdl:output message="tns:SetRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListRegion">
      <wsdl:input message="tns:ListRegionSoapIn" />
      <wsdl:output message="tns:ListRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCafeByChain">
      <wsdl:input message="tns:ListCafeByChainSoapIn" />
      <wsdl:output message="tns:ListCafeByChainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewChain">
      <wsdl:input message="tns:NewChainSoapIn" />
      <wsdl:output message="tns:NewChainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChain">
      <wsdl:input message="tns:DeleteChainSoapIn" />
      <wsdl:output message="tns:DeleteChainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChain">
      <wsdl:input message="tns:GetChainSoapIn" />
      <wsdl:output message="tns:GetChainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetChain">
      <wsdl:input message="tns:SetChainSoapIn" />
      <wsdl:output message="tns:SetChainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListChain">
      <wsdl:input message="tns:ListChainSoapIn" />
      <wsdl:output message="tns:ListChainSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ICafeSoap" type="tns:ICafeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewCafe">
      <soap:operation soapAction="http://es_dev.WS.ICafe/NewCafe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCafe">
      <soap:operation soapAction="http://es_dev.WS.ICafe/DeleteCafe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCafe">
      <soap:operation soapAction="http://es_dev.WS.ICafe/GetCafe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCafe">
      <soap:operation soapAction="http://es_dev.WS.ICafe/SetCafe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafe">
      <soap:operation soapAction="http://es_dev.WS.ICafe/ListCafe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafeByRegion">
      <soap:operation soapAction="http://es_dev.WS.ICafe/ListCafeByRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafeByGoogle_Places_Id">
      <soap:operation soapAction="http://es_dev.WS.ICafe/ListCafeByGoogle_Places_Id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRegion">
      <soap:operation soapAction="http://es_dev.WS.ICafe/NewRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRegion">
      <soap:operation soapAction="http://es_dev.WS.ICafe/DeleteRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegion">
      <soap:operation soapAction="http://es_dev.WS.ICafe/GetRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRegion">
      <soap:operation soapAction="http://es_dev.WS.ICafe/SetRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRegion">
      <soap:operation soapAction="http://es_dev.WS.ICafe/ListRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafeByChain">
      <soap:operation soapAction="http://es_dev.WS.ICafe/ListCafeByChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewChain">
      <soap:operation soapAction="http://es_dev.WS.ICafe/NewChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChain">
      <soap:operation soapAction="http://es_dev.WS.ICafe/DeleteChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChain">
      <soap:operation soapAction="http://es_dev.WS.ICafe/GetChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChain">
      <soap:operation soapAction="http://es_dev.WS.ICafe/SetChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListChain">
      <soap:operation soapAction="http://es_dev.WS.ICafe/ListChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ICafeSoap12" type="tns:ICafeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewCafe">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/NewCafe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCafe">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/DeleteCafe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCafe">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/GetCafe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCafe">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/SetCafe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafe">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/ListCafe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafeByRegion">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/ListCafeByRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafeByGoogle_Places_Id">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/ListCafeByGoogle_Places_Id" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRegion">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/NewRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRegion">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/DeleteRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegion">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/GetRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRegion">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/SetRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRegion">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/ListRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCafeByChain">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/ListCafeByChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewChain">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/NewChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChain">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/DeleteChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChain">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/GetChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChain">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/SetChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListChain">
      <soap12:operation soapAction="http://es_dev.WS.ICafe/ListChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ICafe">
    <wsdl:port name="ICafeSoap" binding="tns:ICafeSoap">
      <soap:address location="http://es_dev.WS.ICafe/" />
    </wsdl:port>
    <wsdl:port name="ICafeSoap12" binding="tns:ICafeSoap12">
      <soap12:address location="http://es_dev.WS.ICafe/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
